doctype html
html
    head
        meta(charset='utf-8')
        title Display driving directions
        meta(name='viewport', content='initial-scale=1,maximum-scale=1,user-scalable=no')
        script(src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js')
        link(href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css', rel='stylesheet')
        style.
            body { margin:0; padding:0; }
            #map { position:absolute; top:0; bottom:0; width:100%; }
    body
        script(src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.0/mapbox-gl-directions.js')
        link(rel='stylesheet', href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.0/mapbox-gl-directions.css', type='text/css')
        #map
        script.
            mapboxgl.accessToken = 'pk.eyJ1Ijoic2FpdGVqIiwiYSI6ImNqd3owaGFxYTAxbzA0M20wN2RqcGpiZWUifQ.Y2AgBDFBAjN8NLDExjTN6Q';
            var map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/streets-v11',
                center: [-79.4512, 43.6568],
                zoom: 13
            });
            map.addControl(new MapboxDirections({
                accessToken: mapboxgl.accessToken
            }), 'top-left');
