doctype html
html
    head
        title Page Title
        style.
            body {
                background-color: black;
                text-align: center;
                color: white;
                font-family: Arial, Helvetica, sans-serif;
            }
    body
        br
        br
        br
        br
        button(onclick="window.location='/displaymap';", value='displaymap')
            | displaymap&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        button(onclick="window.location='/resolvecordinates';", value='displaymap')
            | resolvecordinates&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        button(onclick="window.location='/getdirections';", value='displaymap')
            | getdirections
